<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Moja strona</title>
</head>
<body>
    <h1>Imiona:</h1>

    <ul>
        {% for item in names %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>
</body>
</html>