<!DOCTYPE html>
<html lang="en">
<head>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <meta charset="UTF-8">
    <title>Przelicznik walut</title>
</head>
<body>
    <form id="form">
        <input type="text" name="base" id="base" placeholder="Baza">
        <input type="text" name="symbols" id="symbols" placeholder="Waluta">
        <input type="submit" value="Przelicz">
    </form>
    <div id="result"></div>
</body>
</html>