<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Moja strona</title>
</head>
<body>
    <ul id="nav">
        <li><a href="{{ url_for('first') }}">Pierwsza strona</a></li>
        <li><a href="{{ url_for('second') }}">Druga strona</a></li>
        <li><a href="{{ url_for('third') }}">Trzecia strona</a></li>
    </ul>
    <h1>
        {% block body %}
        {% endblock %}
    </h1>
</body>
</html>