<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Przelicznik walut</title>
</head>
<body>
    <form action="{{ url_for('convert') }}" method="post">
        <input type="text" name="base" placeholder="Baza">
        <input type="text" name="symbols" placeholder="Waluta">
        <input type="submit" value="Przelicz">
    </form>
</body>
</html>