{% extends "layout.html" %}

{% block naglowek %}
     Podaj swoje imię
{% endblock %}

{% block cialo %}
    <form action="{{ url_for('hello') }}" method="post">
        <input type="text" name="name" placeholder="Twoje imię">
        <input type="submit" value="Prześlij">
    </form>
{% endblock %}
