<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Moja strona</title>
</head>
<body>
    <h1>{% block naglowek %} {% endblock %}</h1>

    {% block cialo %} {% endblock %}
</body>
</html>