<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Druga strona</h1>

    Przejdź do strony <a href="{{ url_for('index_widok') }}">pierwszej</a>.

</body>
</html>