<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Pierwsza strona</h1>

    Przejdź do strony <a href="{{ url_for('drugi_widok') }}">drugiej</a>.
</body>
</html>