<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zadania</title>
</head>
<body>
    <form action="{{ url_for('index') }}" method="POST">
        <input type="text" name="task" placeholder="Zadanie">
        <input type="submit" value="Dodaj">
    </form>
    <ul>
        {% for task in context %}
            <li>{{ task }}</li>
        {% endfor %}
    </ul>
</body>
</html>