<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nowy Rok</title>
    <style>
        body {
            text-align: center;
            font-weight: bold;
            font-size: 100px;
            margin-top: 20%;
        }
    </style>
</head>
<body>
    {% if new_year %}
        <h1>TAK</h1>
    {% else %}
        <h1>NIE</h1>
    {% endif %}
</body>
</html>